<% content_for :title, "New Story" %>
<% content_for :h2, "New Story" %>
<% form_for [@project, @story] do |form| %>
<%= form.error_messages %>
<p class="checkbox" id="add_to_iteration">
  <%= form.check_box :iteration_id, {}, @iteration.id, nil %>
  <%= form.label :iteration_id, "Add to the '#{h(@iteration)}' iteration" %>
</p>
<%= render form %>
<p class="submit">
  <%= form.submit 'Create Story' %>
</p>
<% end %>
