<% content_for :title, "#{@iteration}" %>
<% content_for :h2, h(@iteration) %>
<% body_classes << 'iteration_active' %>

<div id="stories">
  <h2><%= l(:story_plural) %></h2>
  <ol class="stories">
    <%= render @iteration.stories %>
  </ol>
</div>

<div id="burndown">
  <%= image_tag(project_iteration_burndown_path(@project, @iteration, :width => 350),
                :alt => 'Burndown Chart',
                :width => 350) %>
  <p id="time_remaining">
  <% if @iteration.finished? %>
    <%= l(:iteration_finished_on) + l(@iteration.end_date) %>
  <% else %>
    <%= l(:days_till_iteration_end) + @iteration.days_remaining.to_s + " - " + l(@iteration.end_date) %>
  <% end %>
  </p>
</div>

