<% inside_layout 'base' do -%>
<% content_for :header_tags2 do %>
<%= stylesheet_link_tag('reset-fonts',
                        'story/layout',
                        'story/typography',
                        'story/colours',
                        'iteration/layout',
                        'iteration/typography',
                        'iteration/colours',
                        'iteration_planning/layout',
                        'iteration_planning/typography',
                        'iteration_planning/colours',
                        'iteration_active/layout',
                        'iteration_active/typography',
                        'iteration_active/colours',
                        'application/layout',
                        'application/typography',
                        'application/colours',
                        :cache => true, :plugin => 'easy_agile') %>
<% unless request.user_agent.include?('iPhone') %>
  <%= javascript_includes %>
<% end %>
<% end %>

<% selected_tab = controller.tab_name %>
<div class="tabs">
  <ul>
    <% ea_tabs.each do |tab| -%>
      <li><%= link_to l(tab[:label]), tab[:path],
              :id => "tab-#{tab[:id]}",
              :class => (tab[:id] != selected_tab ? nil : 'selected'),
              :onclick => "showTab('#{tab[:id]}'); this.blur(); return false;" %></li>
    <% end -%>
  </ul>
  <div class="contextual">
    <button>New Story</button>
    <a href="#" class="icon icon-add">New Story</a>
  </div>
</div>


    <div id="container">
      <div id="header">
        <div id="breadcrumbs">
          <%= yield :breadcrumbs %>
        </div>
        <%= link_to('New Story',
          contextual_new_story_path,
          :accesskey => 'n',
          :id => 'contextual_new_story') %>
      </div>

      <div id="content">
        <h1><%= yield(:h1) %></h1>
        <% unless yield(:actions).blank? %>
          <ul id="actions">
            <%= yield :actions %>
          </ul>
        <% end %>
        <%= render_flash %>
        <%= yield %>
      </div>
      <% content_for :footer do %>
        <p>
        <%= link_to 'Keyboard Shortcuts', keyboard_shortcuts_path, :accesskey => 'k' %>
        </p>
      <% end %>
      <%= render :partial => 'shared/footer' %>
    </div>
<% end %>
